{% extends 'user_dashboard/index.html.twig' %}
{% block table %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Deal Name</th>
            <th scope="col">Comment Content</th>
            <th scope="col">Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody >
        {% for comment in comments %}
        <tr x-data="{ edit:false }">
            <th scope="row">{{ loop.index }}</th>
            <td><a href="#">{{ comment.deal.title }}</a></td>
            <td class="w-50">
                <p x-show="!edit" class="text-wrap text-break w-100">{{ comment.content }}</p>
                <form action="{{ url('comment_edit', { id: comment.id,  }) }}" method="POST" x-show="edit" class="d-flex gap-2 w-100">
                    <input x-show="edit" type="text" name="content" value="{{ comment.content }}" class="w-75" >
                    <input x-show="edit" type="hidden" name="token" value="{{ csrf_token('edit-comment') }}"/>
                    <button x-show="edit" class="btn btn-success w-25">Update</button>
                    <input type="hidden" name="referer" value="{{ app.request.uri }}">
                </form>
            </td>
            <td>{{ comment.createdAt|ago }}</td>
            <td @click="edit = true">
                <button class="btn btn-warning">Edit</button>
            </td>
            <td>
                <form action="{{ url('comment_delete', {id:comment.id}) }}" method="post" class="">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <input type="hidden" name="referer" value="{{ app.request.uri }}">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-comment')  }}">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}